In [2]:
import numpy as np
import pandas as pd

from gensim.parsing.preprocessing import remove_stopwords

In [3]:
# loading datasets and preliminary cleaning
rotten=pd.read_csv('../data/rotten_tomatoes_movies.csv')
rotten=rotten.drop(['rotten_tomatoes_link', 'content_rating', 'actors', 'streaming_release_date', 
                    'movie_info', 'critics_consensus', 'genres', 'directors', 'authors', 'original_release_date',  
                    'production_company', 'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count'], axis=1)


meta=pd.read_csv('../data/movies_meta.csv')
meta=meta.loc[meta['original_language']=='en']  # only english movies
meta=meta.drop(['production_countries', 'overview', 'tagline', 'belongs_to_collection', 'homepage', 'revenue', 'spoken_languages', 'video', 'homepage', "poster_path", 'production_companies'], axis=1)
meta['release_date']=pd.to_datetime(meta['release_date'])

In [4]:


#clean titles

def clean_title(x):
    '''
    method to normalize the movie titles
    '''
    for char in [",", "'", ".", ":", ";", "(", ")", "/", "!", "?", "%", "-", "_", "="]:
        x=x.replace(char, "")        
    return x.lower()
 
rotten['movie_title']=rotten['movie_title'].apply(clean_title)
meta['title']=meta['title'].apply(clean_title)


# column for drama (true or false)

def drama(df):
    drama=[]
    df=df.reset_index()
    for row in df['genres']:
        if "Drama" in row:
            drama.append(True)
        else:
            drama.append(False)
            
    print(len(drama))
    df['drama']=pd.Series(drama)
    return df

meta_drama=drama(meta)
meta_drama=meta_drama.loc[meta_drama['drama']==True]
print(meta_drama)


# clean genres

def clean_genres(x):
    '''
    Method to clean the genres variable in meta dataset
    '''
    for char in ["}", "'", ",", ']']:
        x=x.replace(char, "")     
    x=list(x.split())
    genres=[]
    for i, word in enumerate(x):

        if (i+1)%4==0:
            genres.append(word)
    return (genres)
   
        
meta['genres']=meta['genres'].apply(clean_genres)

3608
      index  adult    budget  \
3         3  False   3600000
5         5  False         0
6         6  False  11000000
8         8  False  12000000
11       11  False  55000000
...     ...    ...       ...
3591   4660  False         0
3599   4677  False         0
3600   4678  False         0
3603   4684  False         0
3606   4688  False         0

                                                 genres      id    imdb_id  \
3     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...     451  tt0113627
5     [{'id': 36, 'name': 'History'}, {'id': 18, 'na...   47018  tt0112637
6                         [{'id': 18, 'name': 'Drama'}]     687  tt0112818
8     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...    9603  tt0112697
11    [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...   10530  tt0114148
...                                                 ...     ...        ...
3591  [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...   26792  tt0902981
3599  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...  379959  tt5116560
3600  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...   42384  tt1433775
3603                      [{'id': 18, 'name': 'Drama'}]   50662  tt0478273
3606  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...  105980  tt0129023

     original_language     original_title  popularity release_date  runtime  \
3                   en  Leaving Las Vegas   10.332025   1995-10-27    112.0
5                   en         Carrington    1.493361   1995-11-08    121.0
6                   en   Dead Man Walking    6.891317   1995-12-29    122.0
8                   en           Clueless    9.882383   1995-07-19     97.0
11                  en         Pocahontas   13.280069   1995-06-14     81.0
...                ...                ...         ...          ...      ...
3591                en    Грозовые ворота    2.491206   2006-02-12    208.0
3599                en       Thunder Road    0.102319   2016-01-23     13.0
3600                en          Garoojigi    1.199077   2008-04-30    120.0
3603                en      South Of Pico    0.014623   2007-10-25     84.0
3606                en        Dark Harbor    0.694388   1999-12-31     84.0

        status                       title  vote_average  vote_count  drama
3     Released           leaving las vegas           7.1       365.0   True
5     Released                  carrington           6.4        16.0   True
6     Released            dead man walking           7.3       350.0   True
8     Released                    clueless           6.9       828.0   True
11    Released                  pocahontas           6.7      1509.0   True
...        ...                         ...           ...         ...    ...
3591  Released              the storm gate           6.8         9.0   True
3599  Released                thunder road           8.0         2.0   True
3600  Released  a tale of legendary libido           6.2        13.0   True
3603  Released               south of pico           0.0         0.0   True
3606  Released                 dark harbor           4.6         9.0   True

[1746 rows x 16 columns]
Index(['runtime_x', 'tomatometer_status', 'tomatometer_rating',
       'tomatometer_count', 'audience_status', 'audience_rating',
       'audience_count', 'tomatometer_top_critics_count', 'adult', 'budget',
       'genres', 'id', 'imdb_id', 'original_language', 'original_title',
       'popularity', 'release_date', 'runtime_y', 'status', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
def combine(df1, df2):
    result = pd.merge(df1, df2, how="inner", left_on='movie_title', right_on='title')
    result = result.drop(['movie_title'], axis=1)
    return result

combined=combine(rotten, meta)
print(combined.columns)

Index(['runtime_x', 'tomatometer_status', 'tomatometer_rating',
       'tomatometer_count', 'audience_status', 'audience_rating',
       'audience_count', 'tomatometer_top_critics_count', 'adult', 'budget',
       'genres', 'id', 'imdb_id', 'original_language', 'original_title',
       'popularity', 'release_date', 'runtime_y', 'status', 'title',
       'vote_average', 'vote_count'],
      dtype='object')